.notification {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 64px;
    height: auto;
    margin: 5px;
    border-radius: 8px;
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.notification--success {
    background: $alert-success-secondary;
    border: 2px solid $alert-success-primary;

    .notification__title {
        color: $alert-success-primary;
        font-weight: bold;
    }

    .notification__close {
        color: $alert-success-primary;
    }
}

.notification--error {
    background: $alert-failure-secondary;
    border: 2px solid $alert-failure-primary;

    .notification__title {
        color: $alert-failure-primary;
        font-weight: bold;
    }

    .notification__close {
        color: $alert-failure-primary;
    }
}

.notification__icon {
    margin: auto 14px auto;
}

.notification__content {
    font-size: 1.2rem;
    line-height: 1.3;
    min-width: 80%;
}

.notification__close {
    position: relative;
    float: right;
    top: 5px;
    right: 15px;
    height: 8px;
    width: 8px;
    font-weight: 800;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .notification {
        width: 80%;
    }
}
