.form {
    width: 100%;
    margin: 20px 0 20px;
}
.form__title {
    margin-bottom: 40px;
    font-size: 1.6rem;
    color: $card-titile;
    font-weight: 500;
    text-transform: uppercase;
}

.form__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
