.searchInput {
    position: relative;
    width: 100%;
    margin: 10px 0 30px;

    &__field {
        width: 100%;
        height: 34px;
        font-size: 1.4rem;
        border: none;
        padding-left: 40px;
        padding-right: 15px;
        font-weight: 500;
        color: $text-primary;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #1b203c56;
        }
    }

    &__icon {
        position: absolute;
        left: 15px;
        top: 8px;
    }
}

.searchInput--primary {
    .searchInput__field {
        background: #ffffff;
        box-shadow: 0px 2.71339px 6.78348px rgba(0, 0, 0, 0.1);
        border-radius: 17px;

        &::-webkit-search-cancel-button {
            height: 14px;
            width: 14px;
            -webkit-appearance: none;
            background-image: url('icons/search_input_button_close.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 14px 14px;
            cursor: pointer;
        }
    }
}

.searchInput--secondary {
    .searchInput__field {
        background: transparent;
        border-radius: 17px;
        border: none;

        &:focus {
            border: 2px solid $input-border-line-gray;
        }

        &::-webkit-search-cancel-button {
            height: 14px;
            width: 14px;
            -webkit-appearance: none;
            background-image: url('icons/search_input_button_close_gray.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 14px 14px;
            cursor: pointer;
        }
    }
    .searchInput__icon {
        filter: saturate(0);
    }

    @media (max-width: 768px) {
        .searchInput__field {
            background: transparent;
            border-radius: 17px;
            border: 2px solid $input-border-line-gray;
        }
    }
}
