.loader {
    position: relative;
    margin: auto;
    width: 100%;
}

.loader__circle {
    display: block;
    position: relative;
    left: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $loading-circle-one;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;

    &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $loading-circle-two;
        animation: spin 3s linear infinite;
        -webkit-animation: spin 3s linear infinite;
    }

    &::after {
        content: '';
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $loading-circle-three;
        animation: spin 1.5s linear infinite;
        -webkit-animation: spin 1.5s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
