$theme_pink: #e35d7d;
$theme_lightpink: #ff8aa6;
$theme_tertiary_pink: #fc98af;
$theme_green: #2e9e95;
$theme_brown: #4f4942;
$theme_lightbrown: #a57b4a;

$dark_gray: #e1e1e1;
$dark_white: #e4e4e4;
$dark_medium_white: #eeeeee;
$dark_strong_white: #efefef;
$lightgray: #ddd5e4;
$light_medium_gray: #dedede;
$mediumgray: #b6b6b6;
$gray: #f1f1f1;
$white_medium: #f2f0f3;
$darkGray: #2b2b2b;
$black: #292929;
$white: #fff;
$dark_red: #c41212;
$topaz: #12adc4;
$bg_gray: #f9f9f9;
$orange: #ffa700;
$sea_green: #12adc4;
$neon_green: #3ed619;
$green: #6fc412;
$purple: #6a577c;
$orders_purple_2: #916bb6;
$backdrop_pink: #864860;
$cost_golden: #a57b4a;
$light_brown: #655f5a;
$black_currant: #352b3e;
$lightning_yellow: #f8ba1b;

$shadow: rgba(0, 0, 0, 0.05);
